<div class="comment-single">
  <div class="comment-author">
    <%= link_to comment.user.full_name, comment.user %> - 
  </div>
  <div class="comment-body">
    <%= comment.body%>
  </div>
  <div class="comment-option">
    <%= render partial: 'user_like_likeables/like', locals: {likeable: comment}%>
    <div class="remove-comment">
      <%= link_to "Delete comment", comment_path(comment), method: :delete%>
    </div>
  </div>
</div>