header{
  width: 100vw;
  box-sizing: border-box;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: sans-serif;

  background: #2874a6;

  .nav-bar{
    margin-left: 10px; 
  }

  a{
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;

    &:hover{
      background-color: lightblue;
    }

    &:visited{
      color: white;
    }
  }
}