// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container .home{
  text-align: center;
}

.home .body{
  width: 60%;
  margin: 0 auto;
}

.button{
  border: none;
  padding: 7px 25px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.button:hover{
  background-color: lightblue;
}

button.disabled{
  background-color: lightblue;
}

.post{
  width: 50%;
  background-color: lightgray;
  padding: 5px;
  margin: 10px auto;
  box-shadow: 0px 1px 5px gray;
}

.post-form a{
  @extend .button;
  font-size: 14px;
  text-decoration: none;
  font-family: sans;
}

.post-form a:visited{
  color: white;
}

.image-form a{
  @extend .button;
  font-size: 14px;
  text-decoration: none;
  font-family: sans;
}

.image-form a:visited{
  color: white;
}

textarea{
  resize: none;
  font-size: 20px;
}

.post-image{
  margin-top: 8px;
}

.post-content-author{
  box-shadow: 0px 1px 5px gray;
  padding: 10px 2px;
  background-color: lightsteelblue;
}

.post-author{
  float: left;
}

.post-content{
  text-align: left;
  img{
    width: 100%;
  }
}


.post-options{
  text-align: left;
  margin: 5px auto;
}

.remove-post{
  display: inline;
  float: right;
}