// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: sans-serif;
}

a:visited{
  color: blue;
}

.sidebar{
  width: 15%;
  float: left;
  display: inline;
  img{
    width: 100%;
  }
}

.center{
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

.pending-form-container{
  display: inline-block;
  width: 40%;
  padding-left: 5px;
}

.button{
  border: none;
  padding: 7px 25px;
  border-radius: 3px;
  background-color: #2874a6;
  color: white;
  font-weight: bold;
}

.button:hover{
  background-color: lightblue;
}

button.disabled{
  background-color: lightblue;
}

.remove{
  float: right;
}

/* User index styling */

.user-index{
  width: 30%;
  margin: 10px auto;
}

.user-index .add-button{
  float: right;
}

.user-index .user-element{
  margin: 25px 5px;
  box-shadow: 0px 0px 10px gray;
  padding: 10px 0px;
  list-style-type: none;
}

.bottom a{
  @extend .button;
  font-size: 14px;
  text-decoration: none;
  font-family: sans;
  background-color: red;
}

.bottom a:hover{
  background-color: lightcoral;
}

