// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar{
  width: 15%;
  float: left;
  display: inline;
}

.center{
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

.pending-form-container{
  display: inline-block;
  width: 40%;
  padding-left: 5px;
}

.button{
  border: none;
  padding: 7px 25px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.button:hover{
  background-color: lightblue;
}

button.disabled{
  background-color: lightblue;
}

.remove{
  float: right;
}