// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:visited{
  color: blue;
}

.sidebar{
  width: 15%;
  float: left;
  display: inline;
}

.center{
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

.pending-form-container{
  display: inline-block;
  width: 40%;
  padding-left: 5px;
}

.button{
  border: none;
  padding: 7px 25px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.button:hover{
  background-color: lightblue;
}

button.disabled{
  background-color: lightblue;
}

.remove{
  float: right;
}

textarea{
  resize: none;
  font-size: 20px;
}

/* Styling published posts */

.post{
  width: 50%;
  background-color: lightgray;
  padding: 5px;
  margin: 10px auto;
  box-shadow: 0px 1px 5px gray;
}

.post-form a{
  @extend .button;
  text-decoration: none;
  font-family: sans;
}

.post-image{
  margin-top: 8px;
}

.post-content-author{
  box-shadow: 0px 1px 5px gray;
  padding: 10px 2px;
  background-color: lightsteelblue;
}

.post-author{
  float: left;
}

.post-content{
  text-align: left;
}


.post-options{
  text-align: left;
  margin: 5px auto;
}


.like-option{
  display: inline-block;

}

.like-button{
  background:none;
  color: blue;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.like-count{
  display: inline;
}

.comment-form{
  float: left;
  height: 30px;
  width: 70%;
  font-size: 14px;
}

.comment-section{
  margin-top: 10px;
}

.comment-button{
}

.comment-count{
  display: inline;
}

.comment-single{
  margin-top: 10px;
  text-align: left;
  box-shadow: 0px 1px 5px gray;
  padding: 2px 2px;
}

.comment-author{
  display: inline;
}

.comment-body{
  display: inline;
}

/* User index styling */

.user-index{
  width: 30%;
  margin: 10px auto;
}

.user-index .add-button{
  float: right;
}

.user-index .user-element{
  margin: 25px 5px;
  box-shadow: 0px 0px 10px gray;
  padding: 10px 0px;
  list-style-type: none;
}